page-help {
.headerlogo{ width:105px; float:left;}
ion-title {padding: 0 90px 1px 10px !important;}
.scroll-content{  background:#23292e; }
ion-input{color:#ffffff; border-bottom:1px solid #455058;}
.btn{margin-top:15px;}
ion-select{ max-width:100%;border:1px solid #455058; color:#ccc; border-radius:5px;      width: 100%;}
ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important; min-height:34px !important;}
ion-item .item-inner{border-bottom:0px !important;}
.backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
.backStrip img {width:10px; float:left;}
.backStrip span { float:left; margin-left:10px; color:#455058;}
.backStrip .item-inner{border-bottom:0px !important;}
.backStrip .label{ margin-top:0px !important;}
.menuBtn{display:block !important;}
.alert-head{ padding:0px !important;}
.customerDtlBox{ border-top:3px solid #455058; padding-top:20px; margin-top:30px;}
.select {padding:16px; font-size:14px;}
.customerDtlBox ion-item span{ float:left;color:#455058;}
.customerDtlBox ion-item p{ float:left; color:#455058; font-weight:bold; margin-top:3px; margin-left:2px;}
.label-md {    margin: 8px 8px 8px 0;}
.segment-button{color:#455058 !important;}
.segment-activated{ color:#ffffff !important;   border-color: #faa61a !important;}
.segment {margin-bottom:15px;}
.btn{ background-color:#faa61a;}

.header:after{width:0px !important}

}
