<!--
  Generated template for the HelpPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
     <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span> Help & Support</span>
     </ion-item>
	 
	 
	 
	 <ion-segment [(ngModel)]="helptab">
    <ion-segment-button value="report">
      Report A Problem
    </ion-segment-button>
    <ion-segment-button value="feedback">
      Feedback
    </ion-segment-button>
  </ion-segment>
  
  
  <div [ngSwitch]="helptab">
  <ion-list *ngSwitchCase="'report'">
   <form [formGroup]="reportform" (ngSubmit)="ReportSubmit()">
   <ion-item>
   <ion-label>SELECT PRODUCT</ion-label>
		 <ion-select [(ngModel)]="reportform.product" placeholder="SELECT PRODUCT"  formControlName="product">
		  
		  <ion-option *ngFor="let prd of productList" value="{{prd.id}}">{{prd.name}}</ion-option>
		  
		</ion-select>
	</ion-item>
	 
	
	 <ion-input type="text" [(ngModel)]="reportform.name" placeholder="Name" formControlName="name" ></ion-input>
  
    <ion-input type="text" [(ngModel)]="reportform.email" placeholder="email" formControlName="email" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="reportform.comapny" placeholder="Comapny" formControlName="comapny" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="reportform.description" placeholder="Description" formControlName="description" ></ion-input>
  
    <ion-input type="text" [(ngModel)]="reportform.contact" placeholder="Contact" formControlName="contact" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="reportform.address" placeholder="Address" formControlName="address" ></ion-input>
	
	 <ion-input type="text" [(ngModel)]="reportform.website" placeholder="Website" formControlName="website" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="reportform.message" placeholder="Message"  formControlName="message" ></ion-input>
	
	<button ion-button block class="btn" type="submit" [disabled]="!reportform.valid">SEND</button>
  </form>
  
  </ion-list>

  <ion-list *ngSwitchCase="'feedback'">
  <form [formGroup]="feedbackform" (ngSubmit)="FeedbackSubmit()">
  
     <ion-input type="text" [(ngModel)]="feedbackform.name" placeholder="Name"  formControlName="name" ></ion-input>
  
    <ion-input type="text" [(ngModel)]="feedbackform.email" placeholder="email" formControlName="email" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="feedbackform.comapny" placeholder="Comapny" formControlName="comapny" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="feedbackform.description" placeholder="Description" formControlName="description" ></ion-input>
  
    <ion-input type="text" [(ngModel)]="feedbackform.contact" placeholder="Contact" formControlName="contact" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="feedbackform.address" placeholder="Address" formControlName="address" ></ion-input>
	
	 <ion-input type="text" [(ngModel)]="feedbackform.website" placeholder="Website" formControlName="website" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="feedbackform.message" placeholder="Message"  formControlName="message" ></ion-input>
	
	<button ion-button block class="btn" type="submit" [disabled]="!feedbackform.valid" >SEND</button>
   </form>
  </ion-list> 
</div>
	 
	 
	 
	
	 
	 
	 
	 
	 
	 
	 
	 
</ion-list>	 

</ion-content>
