
<ion-header>

<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-list>
<ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Product Detail</span>
     </ion-item>
	 
	  <form [formGroup]="editproductform" (ngSubmit)="productformSubmit()">
	 
	     <ion-label>Model Name</ion-label>
	<ion-input placeholder="Model" type="text" (tap)="selectmodel()" readonly [(ngModel)]="modelslct" formControlName="modelname"  > </ion-input>
	 
  <ion-item  *ngIf="editproductform.controls.modelname.hasError('required') && editproductform.controls.modelname.touched">
		<p class="errorfield">Model is required!</p>
	 </ion-item>
	 
	     <ion-label>Controller</ion-label>
	 <ion-item>
	    <ion-label>Controller</ion-label>
		<ion-select  [(ngModel)]="productform.controller"  [disabled]="readonlysttus"   placeholder="Controller" formControlName="controller">
		  
		  <ion-option *ngFor="let controller of controllerList" value="{{controller.id}}">{{controller.name}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.controller.hasError('required') && editproductform.controls.controller.touched">
		<p class="errorfield">Controller is required!</p>
   </ion-item>
   
    <ion-label>Value Per Machine</ion-label>
    <ion-input type="number" placeholder="Value Per Machine"  readonly="{{readonlysttus}}" (ionChange)="prdctTotal(productform.machineval,productform.qty)" [(ngModel)]="productform.machineval" formControlName="machineval"  ></ion-input>
	
		<ion-item  *ngIf="editproductform.controls.machineval.hasError('required')  && editproductform.controls.machineval.touched">
			<p class="errorfield">Value Per Machine is required!</p>
		 </ion-item>
		 
		 <ion-item  *ngIf="editproductform.controls.machineval.hasError('minlength') && editproductform.controls.machineval.touched">
			<p class="errorfield"> minimum Value Per Machine length is 6!</p>
		 </ion-item>

		 <ion-item  *ngIf="editproductform.controls.machineval.hasError('pattern')  && editproductform.controls.machineval.touched">
			<p class="errorfield"> Decimal value are not allowed</p>
		 </ion-item>
		

   <ion-label>Quantity</ion-label>
    <ion-input type="number" placeholder="Quantity" readonly="{{readonlysttus}}" (ionChange)="prdctTotal(productform.machineval,productform.qty)"  [(ngModel)]="productform.qty" formControlName="qty" ></ion-input>
	
		<ion-item  *ngIf="editproductform.controls.qty.hasError('required') && editproductform.controls.qty.touched">
			<p class="errorfield">Quantity is required!</p>
		 </ion-item>

		 <ion-item  *ngIf="editproductform.controls.qty.hasError('maxlength') && editproductform.controls.qty.touched">
			<p class="errorfield"> Maximum quantity length is 3!</p>
		 </ion-item>

		 <ion-item  *ngIf="editproductform.controls.qty.hasError('pattern') && editproductform.controls.qty.touched">
			<p class="errorfield"> Decimal value are not allowed</p>
		 </ion-item>

	  <ion-label>Total Value</ion-label>
	<ion-input type="number"  readonly placeholder="Total Value (automatic)" [(ngModel)]="totalval" formControlName="totalval" ></ion-input>
	
	<ion-item  *ngIf="editproductform.controls.totalval.hasError('required') && editproductform.controls.totalval.touched">
		<p class="errorfield">Total Value is required!</p>
   </ion-item>


	  <ion-label>Probability of Purchase</ion-label>
	<ion-item>
	       <ion-label>Probability of Purchase </ion-label>
			<ion-select  [(ngModel)]="productform.probability" [disabled]="readonlysttus"  placeholder="Probability of Purchase " formControlName="probability">
			  
			  <ion-option *ngFor="let probability of probabilityList" value="{{probability.id}}">{{probability.status}}</ion-option>
			</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.probability.hasError('required') && editproductform.controls.probability.touched">
		<p class="errorfield">Probability of Purchase is required!</p>
	 </ion-item>
	 
   <ion-label>Probability of  jyoti make purchase</ion-label>
	 <ion-item>
		<ion-label>Probability of jyoti make purchase </ion-label>
 <ion-select  [(ngModel)]="productform.probabilityjyoti"  [disabled]="readonlysttus" placeholder="Probability of jyoti make purchase " formControlName="probabilityjyoti">
	 
	 <ion-option *ngFor="let probability of probabilityList" value="{{probability.id}}">{{probability.status}}</ion-option>
 </ion-select>
</ion-item>

<ion-item  *ngIf="editproductform.controls.probabilityjyoti.hasError('required') && editproductform.controls.probabilityjyoti.touched">
<p class="errorfield">Probability of jyoti make purchase is required!</p>
</ion-item>

	 
	   <ion-label>Quotation No.</ion-label>
	  <ion-input type="text" placeholder="Quotation No." readonly="{{readonlysttus}}"  [(ngModel)]="productform.quotationno" formControlName="quotationno"  ></ion-input>
	
		<ion-item  *ngIf="editproductform.controls.quotationno.hasError('required') && editproductform.controls.quotationno.touched">
			<p class="errorfield">Quotation No is required!</p>
		 </ion-item>
		
	
		
	<ion-item>
     <ion-label>Decision Making Within </ion-label>
     <ion-datetime displayFormat="DD MM YYYY" [disabled]="readonlysttus" pickerFormat="DD MM YYYY" min="{{crntdate}}"  max="{{maxdate}}" [(ngModel)]="productform.makingdate" formControlName="makingdate" ></ion-datetime>
	 </ion-item>
	 
	 <ion-item  *ngIf="editproductform.controls.makingdate.hasError('required') && editproductform.controls.makingdate.touched">
		<p class="errorfield">Decision Making is required!</p>
   </ion-item>
   

	  <ion-label>Support needed from HO</ion-label>
	 <ion-item>
	    <ion-label>Support needed from HO</ion-label>
		<ion-select  [(ngModel)]="productform.supporthd"  [disabled]="readonlysttus" multiple="true"    placeholder="Support needed from HO" formControlName="supporthd"  >
		  
		  <ion-option *ngFor="let supporthd of supporthdList" value="{{supporthd.id}}">{{supporthd.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	  <ion-label>Order Status</ion-label>
	  <ion-item>
	    <ion-label>Order Status</ion-label>
		<ion-select  [(ngModel)]="productform.ordersatus"  [disabled]="readonlysttus" placeholder="Order Status" formControlName="ordersatus"  (ionChange) ="changeorderstatus(productform.ordersatus)">
		  
		  <ion-option *ngFor="let orderstatus of orderstatusList" value="{{orderstatus.id}}">{{orderstatus.status}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.ordersatus.hasError('required') && editproductform.controls.ordersatus.touched">
		<p class="errorfield">Order Status is required!</p>
   </ion-item>
	
	
	<ion-item *ngIf="orderStatus=='won'">
     <ion-label>Order Final Date</ion-label>
     <ion-datetime displayFormat="DD MM YYYY"  [disabled]="readonlysttus" pickerFormat="DD MM YYYY" min="1990-01-01"  max="{{maxdate}}" [(ngModel)]="productform.orderfinaldate" formControlName="orderfinaldate" ></ion-datetime>
	 </ion-item>
	 
	 <ion-item  *ngIf="editproductform.controls.orderfinaldate.hasError('required') && editproductform.controls.orderfinaldate.touched && orderStatus=='won'">
		<p class="errorfield">Order Final Date is required!</p>
   </ion-item>
   
	
	 <ion-label  *ngIf="orderStatus=='won'" >Final Machine Qty</ion-label>
	<ion-input *ngIf="orderStatus=='won'"  readonly="{{readonlysttus}}" type="number"  placeholder="Final Machine Qty" [(ngModel)]="productform.finalmachinqty" formControlName="finalmachinqty"  ></ion-input>
	<ion-item  *ngIf="editproductform.controls.finalmachinqty.hasError('required') && editproductform.controls.finalmachinqty.touched && orderStatus=='won'">
		<p class="errorfield">Final Machine Qty is required!</p>
	 </ion-item>
	 
	 <ion-label *ngIf="orderStatus=='won'">Final Value</ion-label>
	<ion-input *ngIf="orderStatus=='won'"  readonly="{{readonlysttus}}" type="number"  placeholder="Final Value" [(ngModel)]="productform.finalval" formControlName="finalval"  ></ion-input>
	
	<ion-item  *ngIf="editproductform.controls.finalval.hasError('required') && editproductform.controls.finalval.touched && orderStatus=='won'">
		<p class="errorfield">Final Value is required!</p>
	 </ion-item>

	 <ion-item  *ngIf="editproductform.controls.finalval.hasError('minlength') && editproductform.controls.finalval.touched && orderStatus=='won'">
		<p class="errorfield">minimum Final Value length is 6!</p>
	 </ion-item>
	 
	 <ion-label *ngIf="orderStatus=='won'" >Advance Amount</ion-label>
	<ion-input *ngIf="orderStatus=='won'" readonly="{{readonlysttus}}" type="number"  placeholder="Advance Amount" [(ngModel)]="productform.advanceamt" formControlName="advanceamt"  ></ion-input>
	
	<ion-item  *ngIf="editproductform.controls.advanceamt.hasError('required') && editproductform.controls.advanceamt.touched && orderStatus=='won'">
		<p class="errorfield">Advance Amount is required!</p>
	 </ion-item>

	 <ion-item  *ngIf="editproductform.controls.advanceamt.hasError('minlength') && editproductform.controls.advanceamt.touched && orderStatus=='won'">
		<p class="errorfield">Minimum Advance Amount length is 5!</p>
	 </ion-item>
	 
	
	<ion-item *ngIf="orderStatus=='won'">
     <ion-label>Date of Advance Collection </ion-label>
     <ion-datetime displayFormat="DD MM YYYY"  [disabled]="readonlysttus"  pickerFormat="DD MM YYYY" min="1990-01-01"  max="{{maxdate}}" [(ngModel)]="productform.collectiondate" formControlName="collectiondate" ></ion-datetime>
	 </ion-item>
	 
	 <ion-item  *ngIf="editproductform.controls.collectiondate.hasError('required') && editproductform.controls.collectiondate.touched && orderStatus=='won'">
		<p class="errorfield">Date of Advance Collection is required!</p>
   </ion-item>
   

	
	  <ion-label *ngIf="orderStatus=='won'" >Mode Of Payment</ion-label>
     <ion-item *ngIf="orderStatus=='won'">
	    <ion-label>Mode Of Payment</ion-label>
		<ion-select  [(ngModel)]="productform.paymentmode"   [disabled]="readonlysttus" (ionChange) ="changepaymentmode(productform.paymentmode)"  placeholder="Mode Of Payment" formControlName="paymentmode">
		  
		  <ion-option *ngFor="let modeofpayment of modeofpaymentList" value="{{modeofpayment.id}}">{{modeofpayment.status}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.paymentmode.hasError('required') && editproductform.controls.paymentmode.touched && orderStatus=='won'">
		<p class="errorfield">Mode Of Payment is required!</p>
   </ion-item>
	
	
	 <ion-label *ngIf="orderStatus=='won' ">Currency Type</ion-label>
	<ion-item *ngIf="orderStatus=='won'">
	    <ion-label>Currency </ion-label>
		<ion-select  [(ngModel)]="productform.currencytype"  [disabled]="readonlysttus"  placeholder="Currency" formControlName="currencytype">
		  
		  <ion-option *ngFor="let currency of currencyList" value="{{currency.id}}">{{currency.status}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.currencytype.hasError('required') && editproductform.controls.currencytype.touched && orderStatus=='won'">
		<p class="errorfield">Currency is required!</p>
   </ion-item>
	
	 <ion-label *ngIf="orderStatus=='won' && productform.paymentmode !=77">Bank Name</ion-label>
	<ion-input *ngIf="orderStatus=='won' && productform.paymentmode !=77"  readonly="{{readonlysttus}}" type="text"  placeholder="Bank Name" [(ngModel)]="productform.bankname" formControlName="bankname"  ></ion-input>

	<ion-item  *ngIf="editproductform.controls.bankname.hasError('required') && editproductform.controls.bankname.touched && orderStatus=='won'">
		<p class="errorfield">Bank Name is required!</p>
	 </ion-item>
	 
	 <ion-label *ngIf="orderStatus=='won' && productform.paymentmode !=77">Cheque/DD/Transaction/Receipt no</ion-label>
	<ion-input *ngIf="orderStatus=='won'" type="text" readonly="{{readonlysttus}}" placeholder="Cheque/DD/Transaction/Receipt no" [(ngModel)]="productform.chequeno" formControlName="chequeno"  ></ion-input>
	<ion-item  *ngIf="editproductform.controls.chequeno.hasError('required') && editproductform.controls.chequeno.touched && orderStatus=='won'">
		<p class="errorfield">Cheque/DD/Transaction/Receipt no is required!</p>
	 </ion-item>
	 
	<ion-label *ngIf="orderStatus=='won'">Payment Terms</ion-label>
	<ion-input *ngIf="orderStatus=='won'" readonly="{{readonlysttus}}" type="text"  placeholder="Payment Terms" [(ngModel)]="productform.paymentterm" formControlName="paymentterm"  ></ion-input>
	


	 <ion-label *ngIf="orderStatus=='lost'">Lost order due to</ion-label>
	<ion-item *ngIf="orderStatus=='lost'">
	    <ion-label>Lost order due to</ion-label>
		<ion-select  [(ngModel)]="productform.lostordrdue"   [disabled]="readonlysttus" placeholder="Lost order due to" formControlName="lostordrdue">
		  
		  <ion-option *ngFor="let lostorder of lostorderList" value="{{lostorder.id}}">{{lostorder.status}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.lostordrdue.hasError('required') && editproductform.controls.lostordrdue.touched && orderStatus=='lost'">
		<p class="errorfield">Lost order due to is required!</p>
   </ion-item>
	
	 <ion-label *ngIf="orderStatus=='lost'">Reason</ion-label>
	<ion-input *ngIf="orderStatus=='lost'" readonly="{{readonlysttus}}" type="text"  placeholder="Reason" [(ngModel)]="productform.reason" formControlName="reason"  ></ion-input>
	
	
	 <ion-label *ngIf="orderStatus=='lost'">Competitor 1</ion-label>
  <!--  <ion-item *ngIf="orderStatus=='lost'">
	    <ion-label>Competitor 1</ion-label>
		<ion-select  [(ngModel)]="productform.compatitor1"  placeholder="Competitor 1" formControlName="compatitor1">
		  
		  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
		</ion-select>
	</ion-item> -->

	<ion-input *ngIf="orderStatus=='lost'" placeholder="Competitor 1"  type="text" (tap)="selectcompetitor_1()" readonly [(ngModel)]="competitorLabel_1" formControlName="compatitor1"  ></ion-input>
	
	
	 <ion-label *ngIf="orderStatus=='lost'">Competitor 2</ion-label>
	 <!-- <ion-item *ngIf="orderStatus=='lost'">
	    <ion-label>Competitor 2</ion-label>
		<ion-select  [(ngModel)]="productform.compatitor2"  placeholder="Competitor 2" formControlName="compatitor2">
		  
		  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
		</ion-select>
	</ion-item> -->
	<ion-input *ngIf="orderStatus=='lost'" placeholder="Competitor 2"  type="text" (tap)="selectcompetitor_2()" readonly [(ngModel)]="competitorLabel_2" formControlName="compatitor2"  ></ion-input>
	
	
	 <ion-label *ngIf="orderStatus=='other'">Other model</ion-label>
	<ion-item *ngIf="orderStatus=='other'">
	    <ion-label>Other model</ion-label>
		<ion-select  [(ngModel)]="productform.othermodel"  [disabled]="readonlysttus"  placeholder="Other model" formControlName="othermodel">
		  
		   <ion-option *ngFor="let model of modelList" value="{{model.id}}">{{model.product_name}}</ion-option>
		</ion-select>
	</ion-item>

	<ion-item  *ngIf="editproductform.controls.othermodel.hasError('required') && editproductform.controls.othermodel.touched && orderStatus=='other'">
		<p class="errorfield">Other model is required!</p>
   </ion-item>
	

	<ion-input *ngIf="orderStatus"  type="file" placeholder="Photo" [(ngModel)]="productform.photo" formControlName="reason" style="display:none;"  ></ion-input>
	
	 <ion-label >Comment</ion-label>

    <ion-input  type="text" placeholder="Comment" readonly="{{readonlysttus}}" [(ngModel)]="productform.comment" formControlName="comment"  ></ion-input>
	
	<!-- <ion-input  type="text" placeholder="photo" readonly (click)="photobrowse()"   ></ion-input> -->
	<ion-item >
		<ion-label>Lifting Date  </ion-label>
		<ion-datetime displayFormat="DD MM YYYY"  [disabled]="readonlysttus" pickerFormat="DD MM YYYY"  min="{{crntdate}}"  max="{{maxdate}}" [(ngModel)]="productform.dLiftingDate" formControlName="dLiftingDate" ></ion-datetime>
	</ion-item>
	
	<button ion-button block color="yellow"  *ngIf="!readonlysttus"  class="btn" type="submit" [disabled]="!editproductform.valid" >Save</button>

	 
	 </form>
 

	 
	
	
	
  </ion-list>
</ion-content>
