page-productdetail {
.headerlogo{ width:105px; float:left;}
ion-title {padding: 0 90px 1px 10px !important;}
.scroll-content{ background:#23292e;}
ion-input{color:#ffffff; border-bottom:1px solid #455058;}
ion-label{color:#455058; font-size: 13px; padding-bottom: 0px; margin-bottom: 0px !important;}
.errorfield{color:#CC0606 ; font-size: 12px; text-align: right;}
.btn{margin-top:15px;}
ion-select{ max-width:100%;border-bottom:1px solid #455058; color:#ccc;    width: 100%;}
ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important; min-height:34px !important;}
ion-item .item-inner{border-bottom:0px !important;}
.backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
.backStrip img {width:10px; float:left;}
.backStrip span { float:left; margin-left:10px; color:#455058;}
.backStrip .item-inner{border-bottom:0px !important;}
.backStrip .label{ margin-top:0px !important;}
.menuBtn{display:block !important;}
.alert-head{ padding:0px !important;}
.customerDtlBox{ border-bottom:3px solid #111; padding-top:20px; margin-top:0px; padding-bottom:10px;}
.select {padding-left:10px; font-size:14px;}
.customerDtlBox ion-item span{ float:left;color:#455058;}
.customerDtlBox ion-item p{ float:left; color:#fff; margin-left:15px; font-weight:normal; white-space:normal;  margin-top:3px; margin-left:2px;}
.label{    margin: 8px 8px 8px 0;}
.header:after{width:0px !important}
.leaddtl{color:#455058; font-size:13px;}
.datetime{ color:#fff;}
.item-datetime .item-inner{border-bottom:1px solid #455058 !important; padding-left:10px; font-size:14px;}

.item-select .label {display:none;}
.select-disabled, .item-select-disabled ion-label {
    opacity: 1;
}
}
