<!--
  Generated template for the BranchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span> Branch Office</span>
     </ion-item>
	 
	 
	 
  <ion-segment [(ngModel)]="branchtab" (ionChange) ="changetab()">
    <ion-segment-button value="domestic">
     Domestic
    </ion-segment-button>
    <ion-segment-button value="international">
      International
    </ion-segment-button>
  </ion-segment>
  
  
  <div [ngSwitch]="branchtab">
  <ion-list *ngSwitchCase="'domestic'">
   
     <ion-item>
	    <ion-label>SELECT BRANCH</ion-label>
		 <ion-select [(ngModel)]="selcttedbranch"  placeholder="SELECT PRODUCT"  (ionChange) ="changedomesticbranch()"  >
		 
		  <ion-option *ngFor="let prd of domesticList" value="{{prd.id}}">{{prd.name}}</ion-option>
		  
		</ion-select>
	</ion-item>
	
	<div class="branchDtlBox">
	  <ion-item><p class="cityname" >{{domesticObj.name}} </p> </ion-item>
	  <ion-item><p class="comapnyname">{{domesticObj.companyname}} </p> </ion-item>
	  
	  <ion-item><div class="companydtlfld"><span><img src="assets/img/address.png" *ngIf="domesticObj.maplocation"  /></span><p [innerHTML]="domesticObj.maplocation"></p></div> </ion-item>
	  
	   <ion-item><div class="companydtlfld"><span><img src="assets/img/email.png" *ngIf="domesticObj.email"  /></span><p [innerHTML]="domesticObj.email"></p> </div></ion-item>
	   
	    <ion-item><div class="companydtlfld"><span><img src="assets/img/contact.png" *ngIf="domesticObj.phone"  /></span><p [innerHTML]="domesticObj.phone"> </p> </div></ion-item>
	  
	  
    </div>
  </ion-list>

  <ion-list *ngSwitchCase="'international'">
  
      <ion-item>
	  <ion-label>SELECT </ion-label>
		 <ion-select [(ngModel)]="selectintrbrnch" placeholder="SELECT BRANCH"   (ionChange) ="changeinterbranch()" >
		 
		  <ion-option *ngFor="let brnch of inernationalList" value="{{brnch.id}}">{{brnch.name}}</ion-option>
		  
		</ion-select>
	</ion-item>
	
	<div class="branchDtlBox">
	  <ion-item><p class="cityname" >{{internationalObj.name}} </p> </ion-item>
	  <ion-item><p class="comapnyname">{{internationalObj.companyname}} </p> </ion-item>
	  
	  <ion-item><div class="companydtlfld"><span><img src="assets/img/address.png" *ngIf="internationalObj.maplocation" /></span><p [innerHTML]="internationalObj.maplocation"></p></div>  </ion-item>
	  
	   <ion-item><div class="companydtlfld"><span><img src="assets/img/email.png" *ngIf="internationalObj.email"  /></span><p [innerHTML]="internationalObj.email"></p> </div></ion-item>
	   
	    <ion-item><div class="companydtlfld"><span><img src="assets/img/contact.png" *ngIf="internationalObj.phone"  /></span><p [innerHTML]="internationalObj.phone"> </p> </div></ion-item>
	  
	  
    </div>
   
  </ion-list>
</div>
	 
	 
</ion-list>	 
</ion-content>
