<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
   <ion-navbar color="gray" hideBackButton="true">
      <button ion-button menuToggle right class="menuBtn">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
    
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
  <ion-list>
      <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span> Profile</span>
       </ion-item>
     <form [formGroup]="profileform" (ngSubmit)="profileformSubmit()">
     
      
     
      <ion-input type="text" placeholder="First Name"  [(ngModel)]="editprofileform.firstname" formControlName="firstname" ></ion-input>
    
    <ion-item  *ngIf="profileform.controls.firstname.hasError('required') && profileform.controls.firstname.touched">
      <p class="errorfield">First Name is required</p>
     </ion-item>
     
     <ion-item  *ngIf="profileform.controls.firstname.hasError('pattern') && profileform.controls.firstname.touched">
      <p class="errorfield">Please enter correct First Name</p>
     </ion-item>

     <ion-input type="text" placeholder="Last Name"  [(ngModel)]="editprofileform.lastname" formControlName="lastname" ></ion-input>
     
     <ion-item  *ngIf="profileform.controls.lastname.hasError('required') && profileform.controls.lastname.touched">
       <p class="errorfield">Last Name is required</p>
      </ion-item>
      
      <ion-item  *ngIf="profileform.controls.lastname.hasError('pattern') && profileform.controls.lastname.touched">
       <p class="errorfield">Please enter correct Last Name</p>
      </ion-item>
         
    
    <ion-input type="number" placeholder="Phone"  [(ngModel)]="editprofileform.phone" formControlName="phone" ></ion-input>
    
    <ion-item  *ngIf="profileform.controls.phone.hasError('required') && profileform.controls.phone.touched">
      <p class="errorfield">Phone number is required</p>
     </ion-item>
    
       <button ion-button block color="yellow" class="btn"type="submit"  >Save</button>
     
     </form>
  </ion-list>
  
  
  
  </ion-content>
  
