<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>

 <img src="assets/img/logo.png" class="loginlogo" />
 


 <form [formGroup]="loginform" (ngSubmit)="loginbtn()">
 <ion-list>
 
   <p class="logintital">Sales Login</p>
 
  <ion-item>
   <ion-label><ion-icon name="person"></ion-icon></ion-label> 
    <ion-input type="text" placeholder="Username" [(ngModel)]="loginform.name" formControlName="name"  ></ion-input>
  </ion-item>

  <ion-item>
   <ion-label> <ion-icon name="lock"></ion-icon></ion-label> 
    <ion-input type="password" placeholder="Password" [(ngModel)]="loginform.pswd" formControlName="pswd" ></ion-input>
  </ion-item>
  </ion-list>
 <button ion-button block class="btn" type="submit" [disabled]="!loginform.valid" >Login</button>
 
</form>




</ion-content>
