page-login {
.scroll-content{ background:#23292e;}
.loginlogo{width:50%; float:left; margin-left:25%; margin-top:15%; margin-bottom:30px; }
ion-item{border-top:0px !important;background-color:transparent !important; border-bottom:1px  solid #455058 !important;  }
.item-inner{ border-bottom:0px  solid #455058 !important; box-shadow: none !important;}
.btn{background:#faa61a;}
.logintital{color:#455058; text-align:center; width:100%; float:left; font-size:20px; margin-bottom:30px;}
ion-icon{ font-size:24px;color:#455058;}
input{color:#fff;}
ion-item{box-shadow: none !important;}
}
