<ion-header >
   <button  style="float:left; width:10%;"  ion-button clear  left class="menuBtn" (click)="back()">
      <ion-icon name="arrow-back" style="margin-top:11px;" color="dark"></ion-icon>
    </button>
 <ion-title>Pin Location</ion-title>


</ion-header>

<ion-content padding >
   
   
    
  
	 <!-- <ion-input placeholder="Customer" type="text" (focus)="selectGotram()" readonly [(ngModel)]="dvrpinform.customer"  ></ion-input> -->

	
	
	 <ion-item>
		  <ion-label>Visit Type</ion-label>
		<ion-select  [(ngModel)]="dvrpinform.visittype"  placeholder="Visit Type" >
		  
		  <ion-option *ngFor="let visittype of visittypeList" value="{{visittype.id}}" >{{visittype.status}}</ion-option>
		 
		</ion-select>
	</ion-item>
	
	 <ion-item *ngIf="dvrpinform.visittype==161" >
	 <ion-input type="text" placeholder="Purpose"   [(ngModel)]="dvrpinform.purpose" ></ion-input>
	</ion-item>

	<ion-input *ngIf="dvrpinform.visittype==159"  placeholder="Select Lead" type="text" (focus)="selectGotram1()" readonly [(ngModel)]="dvrpinform.lead"  ></ion-input>
	
<!--	 <ion-item>
	 <ion-input type="text" placeholder="Location"  [(ngModel)]="dvrpinform.location"  ></ion-input>
	</ion-item> -->
	<ion-item>
	 <button ion-button block color="yellow" class="btn" (click)="pindvrsubmit()" >Save</button>
	</ion-item>
   
</ion-content>