dvrlocation {
ion-header{    background-color: #23292e;}
ion-title {padding: 17px 90px 1px 10px !important;}
ion-title .toolbar-title{ color:#fff;}
.header-ios{ padding-top:20px;}
.toolbar-title-ios {
    padding-top: 3px;
}
.scroll-content{ background:#23292e;}
ion-input{color:#ffffff; border-bottom:1px solid #455058;    font-size: 14px;
    padding-left: 8px;}
.btn{margin-top:15px; height:40px !important;}
ion-select{ max-width:100%;border-bottom:1px solid #455058; color:#ccc;    width: 100%;}
ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important; min-height:34px !important;}
ion-item .item-inner{border-bottom:0px !important;}
.backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
.backStrip img {width:10px; float:left;}
.backStrip span { float:left; margin-left:10px; color:#455058;}
.backStrip .item-inner{border-bottom:0px !important;}
.backStrip .label{ margin-top:0px !important;}
.menuBtn{display:block !important;}
.menuBtn ion-icon{    margin-top: 0px;    color: #fff;}

.alert-head{ padding:0px !important;}
.customerDtlBox{ border-bottom:3px solid #111; padding-top:20px; margin-top:0px; padding-bottom:10px;}
.select {padding-left:10px; font-size:14px;}
.customerDtlBox ion-item span{ float:left;color:#455058;}
.customerDtlBox ion-item p{ float:left; color:#fff; margin-left:15px; font-weight:normal; white-space:normal;  margin-top:3px; margin-left:2px;}
.label{    margin: 0;}
.header:after{width:0px !important}

 .alert-head {    text-align: center;    padding: 8px 20px 8px 20px;}
}
