<!--
  Generated template for the LeaddetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
<ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Leads</span>
     </ion-item>
	 
	 <form [formGroup]="editleadform" (ngSubmit)="leadformSubmit()">
   
		<ion-label>Company Name</ion-label>
	  <ion-input placeholder="Company Name" type="text" (tap)="selectGotram()" readonly [(ngModel)]="comapnyslct" formControlName="comapnyname"  ></ion-input>
	  
	   <ion-item  *ngIf="editleadform.controls.comapnyname.hasError('required') && editleadform.controls.comapnyname.touched">
		<p class="errorfield">Company Name is required!</p>
   </ion-item>

		<ion-label>Full Name</ion-label>
	 <ion-input type="text" placeholder="Full Name" [(ngModel)]="leadform.fullname_1" formControlName="fullname_1"  ></ion-input>
	
	 <ion-item  *ngIf="editleadform.controls.fullname_1.hasError('required') && editleadform.controls.fullname_1.touched">
		<p class="errorfield">Full Name is required</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="editleadform.controls.fullname_1.hasError('pattern') && editleadform.controls.fullname_1.touched">
		<p class="errorfield">Please enter correct Full Name</p>
   </ion-item>
      
	  <ion-label>Email</ion-label>
	  <ion-input type="text" placeholder="Email" [(ngModel)]="leadform.email_1" formControlName="email_1"  ></ion-input>
	
	   <ion-item  *ngIf="editleadform.controls.email_1.hasError('required') && editleadform.controls.email_1.touched">
		<p class="errorfield">Email is required!</p>
		 </ion-item>
		 
		 <ion-item  *ngIf="editleadform.controls.email_1.hasError('pattern') && editleadform.controls.email_1.touched">
			<p class="errorfield">Please enter correct Email</p>
			 </ion-item>
	 
	 	 
	  <ion-label>Contact</ion-label>
		
	
	    <ion-input type="number" placeholder="Contact" [(ngModel)]="leadform.contact_1" formControlName="contact_1"  ></ion-input>
		 
		<ion-item  *ngIf="editleadform.controls.contact_1.hasError('required') && editleadform.controls.contact_1.touched">
		 <p class="errorfield">Contact is required!</p>
		</ion-item>
	
		<ion-label  *ngIf="addcustomerstatus1">Full Name</ion-label>	
		<ion-input  *ngIf="addcustomerstatus1" type="text" placeholder="Full Name" [(ngModel)]="leadform.fullname_2" formControlName="fullname_2"  ></ion-input>
    <ion-label  *ngIf="addcustomerstatus1">Email</ion-label>
	  <ion-input  *ngIf="addcustomerstatus1" type="text" placeholder="Email" [(ngModel)]="leadform.email_2" formControlName="email_2"  ></ion-input>
		<ion-label  *ngIf="addcustomerstatus1">Contact</ion-label>		 
		 <ion-input *ngIf="addcustomerstatus1" type="number" placeholder="Contact" [(ngModel)]="leadform.contact_2" formControlName="contact_2"  ></ion-input>
		 
		<ion-item *ngIf="addcustomerstatus1"   class="delete"  (click)="deletecustomer(leadform.contactid_2)">delete</ion-item>
		
		<ion-label  *ngIf="addcustomerstatus2">Full Name</ion-label>	
		<ion-input  *ngIf="addcustomerstatus2" type="text" placeholder="Full Name" [(ngModel)]="leadform.fullname_3" formControlName="fullname_3"  ></ion-input>
		<ion-label  *ngIf="addcustomerstatus2">Email</ion-label>
	  <ion-input  *ngIf="addcustomerstatus2" type="text" placeholder="Email" [(ngModel)]="leadform.email_3" formControlName="email_3"  ></ion-input>
	  <ion-label  *ngIf="addcustomerstatus2">Contact</ion-label>			 
		 <ion-input *ngIf="addcustomerstatus2" type="number" placeholder="Contact" [(ngModel)]="leadform.contact_3" formControlName="contact_3"  ></ion-input>
		 
		<ion-item *ngIf="addcustomerstatus2"   class="delete"  (click)="deletecustomer(leadform.contactid_3)">delete</ion-item>
		
		
		<ion-label *ngIf="addcustomerstatus3">Full Name</ion-label>	
       <ion-input  *ngIf="addcustomerstatus3" type="text" placeholder="Full Name" [(ngModel)]="leadform.fullname_4" formControlName="fullname_4"  ></ion-input>
			 <ion-label *ngIf="addcustomerstatus3">Email</ion-label>
	  <ion-input  *ngIf="addcustomerstatus3" type="text" placeholder="Email" [(ngModel)]="leadform.email_4" formControlName="email_4"  ></ion-input>
	  <ion-label *ngIf="addcustomerstatus3">Contact</ion-label>			 
		 <ion-input *ngIf="addcustomerstatus3" type="number" placeholder="Contact" [(ngModel)]="leadform.contact_4" formControlName="contact_4"  ></ion-input>
		 
		<ion-item *ngIf="addcustomerstatus3"   class="delete"  (click)="deletecustomer(leadform.contactid_4)">delete</ion-item>
		
		<ion-label  *ngIf="addcustomerstatus4">Full Name</ion-label>	
		<ion-input  *ngIf="addcustomerstatus4" type="text" placeholder="Full Name" [(ngModel)]="leadform.fullname_5" formControlName="fullname_5"  ></ion-input>
		<ion-label  *ngIf="addcustomerstatus4">Email</ion-label>
	  <ion-input  *ngIf="addcustomerstatus4" type="text" placeholder="Email" [(ngModel)]="leadform.email_5" formControlName="email_5"  ></ion-input>
		<ion-label  *ngIf="addcustomerstatus4">Contact</ion-label>			 
		 <ion-input *ngIf="addcustomerstatus4" type="number" placeholder="Contact" [(ngModel)]="leadform.contact_5" formControlName="contact_5"  ></ion-input>
		 
		<ion-item *ngIf="addcustomerstatus4"   class="delete"  (click)="deletecustomer(leadform.contactid_5)">delete</ion-item>
			
			
		<ion-item  class="addmore"  (click)="AddCustomer()">Add More contact person</ion-item>		
			
			
	 
		    <ion-label>Lead Source</ion-label>
	 <ion-item>
	    <ion-label>Lead Source</ion-label>
		<ion-select [(ngModel)]="leadform.leadsource" formControlName="leadsource" placeholder="Lead Source">
            <ion-option *ngFor="let leadsource of leadsourcelist" value="{{leadsource.id}}">{{leadsource.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	
	<ion-item  *ngIf="editleadform.controls.leadsource.hasError('required') && editleadform.controls.leadsource.touched">
		<p class="errorfield">Lead Source is required!</p>
     </ion-item>
	 
	 
	    <ion-label>Customer Type</ion-label>
	 <ion-item>
	      <ion-label>Customer Type</ion-label>
			<ion-select [(ngModel)]="leadform.customertype" formControlName="customertype" placeholder="Customer Type" (ionChange) ="changecusttype(leadform.customertype)">
			  <ion-option *ngFor="let customertype of customertypelist" value="{{customertype.id}}">{{customertype.status}}</ion-option>
			</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="editleadform.controls.customertype.hasError('required') && editleadform.controls.customertype.touched">
		<p class="errorfield">Customer Type is required!</p>
     </ion-item>
	
	 <ion-label *ngIf="competitostatus">Competitor</ion-label>
	<!--	 <ion-item *ngIf="competitostatus">
	      <ion-label>Competitor</ion-label>
			<ion-select [(ngModel)]="leadform.competitor_1" formControlName="competitor_1" placeholder="Competitor">
			  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
			</ion-select>
	   </ion-item> -->
	   
	    <ion-input *ngIf="competitostatus" placeholder="Competitor" type="text" (tap)="selectcompetitor_1()" readonly [(ngModel)]="leadform.competitor_1" formControlName="competitor_1"  ></ion-input>
	   
	    <ion-item  *ngIf="editleadform.controls.competitor_1.hasError('required') && editleadform.controls.competitor_1.touched && competitostatus">
		<p class="errorfield">Competitor is required!</p>
     </ion-item>
	   
	   
	 <ion-label *ngIf="competitostatus">Machine type/Model</ion-label>
	 
	<ion-input type="text" *ngIf="competitostatus" [(ngModel)]="leadform.machinetype_1" formControlName="machinetype_1"  placeholder="Machine type/Model" ></ion-input>
	
	 <ion-item  *ngIf="editleadform.controls.machinetype_1.hasError('required') && editleadform.controls.machinetype_1.touched && competitostatus">
		<p class="errorfield">Machine type/Model is required!</p>
     </ion-item>
	
	 <ion-label *ngIf="competitostatus">Quantity</ion-label>
	
	<ion-input type="number"  *ngIf="competitostatus" [(ngModel)]="leadform.quantity_1" formControlName="quantity_1"  placeholder="Quantity" ></ion-input>
	
	 <ion-item  *ngIf="editleadform.controls.quantity_1.hasError('required') && editleadform.controls.quantity_1.touched && competitostatus">
		<p class="errorfield">Quantity is required!</p>
     </ion-item>
	 
	 
	<ion-label *ngIf="competitostatus1">Competitor</ion-label>
	 <!--   <ion-item *ngIf="competitostatus1">
	      <ion-label>Competitor</ion-label>
			<ion-select [(ngModel)]="leadform.competitor_2" formControlName="competitor_2" placeholder="Competitor">
			  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
			</ion-select>
	   </ion-item> -->
	   
	   <ion-input *ngIf="competitostatus1" placeholder="Competitor" type="text" (tap)="selectcompetitor_2()" readonly [(ngModel)]="leadform.competitor_2" formControlName="competitor_2"  ></ion-input>  
	   
	   
	  <ion-label *ngIf="competitostatus1">Machine type/Model</ion-label>
	<ion-input type="text" *ngIf="competitostatus1" [(ngModel)]="leadform.machinetype_2" formControlName="machinetype_2"  placeholder="Machine type/Model" ></ion-input>
	
	
	
	  <ion-label *ngIf="competitostatus1">Quantity</ion-label>
	<ion-input type="number"  *ngIf="competitostatus1" [(ngModel)]="leadform.quantity_2" formControlName="quantity_2"  placeholder="Quantity" ></ion-input>

	
	 
	<ion-item *ngIf="competitostatus1"   class="delete"  (click)="deletecompetitor(leadform.competitorid_2)">delete</ion-item>
	
	
	 <ion-label *ngIf="competitostatus2">Competitor</ion-label>
	<!-- <ion-item *ngIf="competitostatus2">
	      <ion-label>Competitor</ion-label>
			<ion-select [(ngModel)]="leadform.competitor_3" formControlName="competitor_3" placeholder="Competitor">
			  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
			</ion-select>
	   </ion-item> -->
	   
	    <ion-input *ngIf="competitostatus2" placeholder="Competitor" type="text" (tap)="selectcompetitor_3()" readonly [(ngModel)]="leadform.competitor_3" formControlName="competitor_3"  ></ion-input>  
	   
	
	 <ion-label *ngIf="competitostatus2">Machine type/Model</ion-label>
	<ion-input type="text" *ngIf="competitostatus2" [(ngModel)]="leadform.machinetype_3" formControlName="machinetype_3"  placeholder="Machine type/Model" ></ion-input>
	
	
	
	 <ion-label *ngIf="competitostatus2">Quantity</ion-label>
	<ion-input type="number"  *ngIf="competitostatus2" [(ngModel)]="leadform.quantity_3" formControlName="quantity_3"  placeholder="Quantity" ></ion-input>

    
	 
	<ion-item *ngIf="competitostatus2"  class="delete"   (click)="deletecompetitor(leadform.competitorid_3)">delete</ion-item>
	
	 <ion-label *ngIf="competitostatus3">Competitor</ion-label>
	<!--  <ion-item *ngIf="competitostatus3">
	      <ion-label>Competitor</ion-label>
			<ion-select [(ngModel)]="leadform.competitor_4" formControlName="competitor_4" placeholder="Competitor">
			   <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
			</ion-select>
	   </ion-item>  -->
	   
	   <ion-input *ngIf="competitostatus3" placeholder="Competitor" type="text" (tap)="selectcompetitor_4()" readonly [(ngModel)]="leadform.competitor_4" formControlName="competitor_4"  ></ion-input>   
	
	 <ion-label *ngIf="competitostatus3">Machine type/Model</ion-label>
	<ion-input type="text" *ngIf="competitostatus3" [(ngModel)]="leadform.machinetype_4" formControlName="machinetype_4"  placeholder="Machine type/Model" ></ion-input>
	
		
	
	
	 <ion-label *ngIf="competitostatus3">Machine type/Model</ion-label>
	<ion-input type="number"  *ngIf="competitostatus3" [(ngModel)]="leadform.quantity_4" formControlName="quantity_4"  placeholder="quantity" ></ion-input>
	
	
	 
	<ion-item *ngIf="competitostatus3"  class="delete"   (click)="deletecompetitor(leadform.competitorid_4)">delete</ion-item>
	
	 <ion-label *ngIf="competitostatus4">Competitor</ion-label>
	<!-- <ion-item *ngIf="competitostatus4">
	      <ion-label>Competitor</ion-label>
			<ion-select [(ngModel)]="leadform.competitor_5" formControlName="competitor_5" placeholder="Competitor">
			  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
			</ion-select>
	   </ion-item> -->
	   
	  <ion-input *ngIf="competitostatus4" placeholder="Competitor" type="text" (tap)="selectcompetitor_5()" readonly [(ngModel)]="leadform.competitor_5" formControlName="competitor_5"  ></ion-input>    
	   
	 <ion-label *ngIf="competitostatus4">Machine type/Model</ion-label>
	<ion-input type="text" *ngIf="competitostatus4" [(ngModel)]="leadform.machinetype_5" formControlName="machinetype_5"  placeholder="Machine type/Model" ></ion-input>
	
		
	
	
	 <ion-label *ngIf="competitostatus4">Quantity</ion-label>
	<ion-input type="number"  *ngIf="competitostatus4" [(ngModel)]="leadform.quantity_5" formControlName="quantity_5"  placeholder="Quantity" ></ion-input>
	
	
	
	<ion-item *ngIf="competitostatus4" class="delete"   (click)="deletecompetitor(leadform.competitorid_5)">delete</ion-item>
	
	<ion-item *ngIf="competitostatus" class="addmore"  (click)="AddCompetitor()">Add More Competitor</ion-item>
	
	 <ion-label >Secondary Phone</ion-label>
	<ion-input type="number" [(ngModel)]="leadform.secondaryphone" formControlName="secondaryphone"  placeholder="Secondary Phone" ></ion-input>
	
	 <ion-label >Website</ion-label>
	<ion-input type="text" [(ngModel)]="leadform.website" autocapitalize="none" formControlName="website"  placeholder="Website" ></ion-input>
	
	 <ion-label >Remarks</ion-label>
	<ion-input type="text" [(ngModel)]="leadform.remarks" formControlName="remarks"  placeholder="Remarks" ></ion-input>
	
	
	<ion-item>
		<ion-label>Next Visit Date</ion-label>
		<ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" min="{{crntdate}}"   max="{{maxdate}}" [(ngModel)]="leadform.nextvisit" formControlName="nextvisit" ></ion-datetime>
	</ion-item>

	
	
     <button ion-button block color="yellow" class="btn" type="submit" >Save Lead</button>
	 
	 </form>

	 
	
	
	<button ion-button block color="yellow" class="btn addprdctbtn" (click)='addPrdoct()'>Add Product Order</button>
	
 <!--	<button ion-button block color="yellow" class="btn" (click)='editlead()'>Edit Lead</button>
	
	<button ion-button block color="yellow" class="btn" (click)='adddvr()'>Add DVR</button>
	
	<button ion-button block color="yellow" class="btn" (click)='dvrlocation()'>DVR Location Photo</button> -->
	 
  </ion-list>	 
</ion-content>
