<!--
  Generated template for the AddproductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-navbar color="gray" hideBackButton="true" >
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
     <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Add Product</span>
     </ion-item>
   
     <ion-item class="leaddtl">  {{leadOBJ.leadNumber}} Created on: {{leadOBJ.dCreatedDate}}</ion-item>
    <ion-item  class="leaddtl">  Company Name: {{leadOBJ.company}}</ion-item>
  
	 
	 
	 
	 <form [formGroup]="productform" (ngSubmit)="productformSubmit()">
	
	<ion-input placeholder="Model" type="text" (tap)="selectmodel()" readonly [(ngModel)]="modelslct" formControlName="modelname"  > </ion-input>
	 
	  <ion-item  *ngIf="productform.controls.modelname.hasError('required') && productform.controls.modelname.touched">
		<p class="errorfield">Model is required!</p>
   </ion-item>
   
	<!--  <ion-item>
	    <ion-label>Model Name</ion-label>
		<ion-select  [(ngModel)]="productform.modelname"  placeholder="Model Name" formControlName="modelname">
		  
		  <ion-option *ngFor="let model of modelList" value="{{model.id}}">{{model.product_name}}</ion-option>
		</ion-select>
	</ion-item>  -->
	
	
	 <ion-item>
	    <ion-label>Controller</ion-label>
		<ion-select  [(ngModel)]="productform.controller"  placeholder="Controller" formControlName="controller">
		  
		  <ion-option *ngFor="let controller of controllerList" value="{{controller.id}}">{{controller.name}}</ion-option>
		</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="productform.controls.controller.hasError('required') && productform.controls.controller.touched">
		<p class="errorfield">Controller is required</p>
   </ion-item>
   
    <ion-input type="number" placeholder="Value Per Machine" (ionChange)="prdctTotal(productform.machineval,productform.qty)" [(ngModel)]="productform.machineval" formControlName="machineval"  ></ion-input>
  
   <ion-item  *ngIf="productform.controls.machineval.hasError('required')  && productform.controls.machineval.touched">
		<p class="errorfield">Value Per Machine is required</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="productform.controls.machineval.hasError('minlength') && productform.controls.machineval.touched">
		<p class="errorfield"> minimum Value Per Machine length is 6</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="productform.controls.machineval.hasError('pattern') && productform.controls.machineval.touched">
		<p class="errorfield"> Decimal value are not allowed</p>
   </ion-item>
  
  
    <ion-input type="number" placeholder="Quantity" (ionChange)="prdctTotal(productform.machineval,productform.qty)"  [(ngModel)]="productform.qty" formControlName="qty" ></ion-input>
	
	<ion-item  *ngIf="productform.controls.qty.hasError('required') && productform.controls.qty.touched">
		<p class="errorfield">Quantity is required</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="productform.controls.qty.hasError('maxlength') && productform.controls.qty.touched">
		<p class="errorfield"> Maximum quantity length is 3</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="productform.controls.qty.hasError('pattern') && productform.controls.qty.touched">
		<p class="errorfield"> Decimal value are not allowed</p>
   </ion-item>
	
	<ion-input type="number"  readonly placeholder="Total Value (automatic)" [(ngModel)]="totalval" formControlName="totalval" ></ion-input>
	
	<ion-item  *ngIf="productform.controls.totalval.hasError('required') && productform.controls.totalval.touched">
		<p class="errorfield">Total Value is required!</p>
   </ion-item>
	
	<ion-item>
	       <ion-label>Probability of Purchase </ion-label>
			<ion-select  [(ngModel)]="productform.probability"  placeholder="Probability of Purchase " formControlName="probability">
			  
			  <ion-option *ngFor="let probability of probabilityList" value="{{probability.id}}">{{probability.status}}</ion-option>
			</ion-select>
	</ion-item>
	<ion-item  *ngIf="productform.controls.probability.hasError('required') && productform.controls.probability.touched">
		<p class="errorfield">Probability of Purchase is required!</p>
   </ion-item>
   
   
	<ion-item>
	       <ion-label>Probability of jyoti make purchase </ion-label>
			<ion-select  [(ngModel)]="productform.probabilityjyoti"  placeholder="Probability of jyoti make purchase " formControlName="probabilityjyoti">
			  
			  <ion-option *ngFor="let probability of probabilityList" value="{{probability.id}}">{{probability.status}}</ion-option>
			</ion-select>
	</ion-item>
	
	<ion-item  *ngIf="productform.controls.probabilityjyoti.hasError('required') && productform.controls.probabilityjyoti.touched">
		<p class="errorfield">Probability of jyoti make purchase is required!</p>
   </ion-item>
   
	
	
	 
	  <ion-input type="text" placeholder="Quotation No." [(ngModel)]="productform.quotationno" formControlName="quotationno"  ></ion-input>
  
   <ion-item  *ngIf="productform.controls.quotationno.hasError('required') && productform.controls.quotationno.touched">
		<p class="errorfield">Quotation No is required!</p>
   </ion-item>
   
	<ion-item>
     <ion-label>Decision Making Within </ion-label>
     <ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" min="{{crntdate}}"   max="{{maxdate}}" [(ngModel)]="productform.makingdate" formControlName="makingdate" ></ion-datetime>
   </ion-item>

	 <ion-item  *ngIf="productform.controls.makingdate.hasError('required') && productform.controls.makingdate.touched">
		<p class="errorfield">Decision Making is required!</p>
   </ion-item>
   
	 <ion-item>
	    <ion-label>Support needed from HO</ion-label>
		<ion-select  [(ngModel)]="productform.supporthd" multiple="true"   placeholder="Support needed from HO" formControlName="supporthd"  >
		  
		  <ion-option *ngFor="let supporthd of supporthdList" value="{{supporthd.id}}">{{supporthd.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	
	  <ion-item>
	    <ion-label>Order Status</ion-label>
		<ion-select  [(ngModel)]="productform.ordersatus"  placeholder="Order Status" formControlName="ordersatus"  (ionChange) ="changeorderstatus(productform.ordersatus)">
		  
		  <ion-option *ngFor="let orderstatus of orderstatusList" value="{{orderstatus.id}}">{{orderstatus.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="productform.controls.ordersatus.hasError('required') && productform.controls.ordersatus.touched">
		<p class="errorfield">Order Status is required!</p>
   </ion-item>
	
	<ion-item *ngIf="orderStatus=='won'">
     <ion-label>Order Final Date</ion-label>
     <ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" min="1990-01-01"  max="{{maxdate}}" [(ngModel)]="productform.orderfinaldate" formControlName="orderfinaldate" ></ion-datetime>
   </ion-item>
   
    <ion-item  *ngIf="productform.controls.orderfinaldate.hasError('required') && productform.controls.orderfinaldate.touched && orderStatus=='won'">
		<p class="errorfield">Order Final Date is required!</p>
   </ion-item>

	
	
	<ion-input *ngIf="orderStatus=='won'" type="number" placeholder="Final Machine Qty" [(ngModel)]="productform.finalmachinqty" formControlName="finalmachinqty"  ></ion-input>
	
	 <ion-item  *ngIf="productform.controls.finalmachinqty.hasError('required') && productform.controls.finalmachinqty.touched && orderStatus=='won'">
		<p class="errorfield">Final Machine Qty is required!</p>
   </ion-item>
	
	<ion-input *ngIf="orderStatus=='won'" type="number" placeholder="Final Value" [(ngModel)]="productform.finalval" formControlName="finalval"  ></ion-input>
	
	<ion-item  *ngIf="productform.controls.finalval.hasError('required') && productform.controls.finalval.touched && orderStatus=='won'">
		<p class="errorfield">Final Value is required!</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="productform.controls.finalval.hasError('minlength') && productform.controls.finalval.touched && orderStatus=='won'">
		<p class="errorfield">minimum Final Value length is 6!</p>
   </ion-item>
   
	<ion-input *ngIf="orderStatus=='won'" type="number" placeholder="Advance Amount" [(ngModel)]="productform.advanceamt" formControlName="advanceamt"  ></ion-input>
	
	<ion-item  *ngIf="productform.controls.advanceamt.hasError('required') && productform.controls.advanceamt.touched && orderStatus=='won'">
		<p class="errorfield">Advance Amount is required!</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="productform.controls.advanceamt.hasError('minlength') && productform.controls.advanceamt.touched && orderStatus=='won'">
		<p class="errorfield">Minimum Advance Amount length is 5!</p>
   </ion-item>
	
	
	<ion-item *ngIf="orderStatus=='won'">
     <ion-label>Date of Advance Collection </ion-label>
     <ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" min="1990-01-01"  max="{{maxdate}}" [(ngModel)]="productform.collectiondate" formControlName="collectiondate" ></ion-datetime>
   </ion-item>
   
   <ion-item  *ngIf="productform.controls.collectiondate.hasError('required') && productform.controls.collectiondate.touched && orderStatus=='won'">
		<p class="errorfield">Date of Advance Collection is required!</p>
   </ion-item>
   

	
	
     <ion-item *ngIf="orderStatus=='won'">
	    <ion-label>Mode Of Payment</ion-label>
		<ion-select  [(ngModel)]="productform.paymentmode" (ionChange) ="changepaymentmode(productform.paymentmode)"  placeholder="Mode Of Payment" formControlName="paymentmode">
		  
		  <ion-option *ngFor="let modeofpayment of modeofpaymentList" value="{{modeofpayment.id}}">{{modeofpayment.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="productform.controls.paymentmode.hasError('required') && productform.controls.paymentmode.touched && orderStatus=='won'">
		<p class="errorfield">Mode Of Payment is required!</p>
   </ion-item>
   
	
	<ion-item *ngIf="orderStatus=='won'">
	    <ion-label>Currency </ion-label>
		<ion-select  [(ngModel)]="productform.currencytype"  placeholder="Currency " formControlName="currencytype">
		  
		  <ion-option *ngFor="let currency of currencyList" value="{{currency.id}}">{{currency.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="productform.controls.currencytype.hasError('required') && productform.controls.currencytype.touched && orderStatus=='won'">
		<p class="errorfield">Currency is required!</p>
   </ion-item>
	
	<ion-input *ngIf="orderStatus=='won'  && productform.paymentmode !=77" type="text" placeholder="Bank Name" [(ngModel)]="productform.bankname" formControlName="bankname"  ></ion-input>
	
	<ion-item  *ngIf="productform.controls.bankname.hasError('required') && productform.controls.bankname.touched && orderStatus=='won'">
		<p class="errorfield">Bank Name is required!</p>
   </ion-item>
   
	<ion-input *ngIf="orderStatus=='won'  && productform.paymentmode !=77" type="text" placeholder="Cheque/DD/Transaction/Receipt no" [(ngModel)]="productform.chequeno" formControlName="chequeno"  ></ion-input>
	
	<ion-item  *ngIf="productform.controls.chequeno.hasError('required') && productform.controls.chequeno.touched && orderStatus=='won'">
		<p class="errorfield">Cheque/DD/Transaction/Receipt no is required!</p>
   </ion-item>
	
	<ion-input *ngIf="orderStatus=='won'" type="text" placeholder="Payment Terms" [(ngModel)]="productform.paymentterm" formControlName="paymentterm"  ></ion-input>
	


	
	<ion-item *ngIf="orderStatus=='lost'">
	    <ion-label>Lost order due to</ion-label>
		<ion-select  [(ngModel)]="productform.lostordrdue"  placeholder="Lost order due to" formControlName="lostordrdue">
		  
		  <ion-option *ngFor="let lostorder of lostorderList" value="{{lostorder.id}}">{{lostorder.status}}</ion-option>
		</ion-select>
	</ion-item>
	
		<ion-item  *ngIf="productform.controls.lostordrdue.hasError('required') && productform.controls.lostordrdue.touched && orderStatus=='lost'">
		<p class="errorfield">Lost order due to is required!</p>
   </ion-item>
	
	<ion-input *ngIf="orderStatus=='lost'" type="text" placeholder="Reason" [(ngModel)]="productform.reason" formControlName="reason"  ></ion-input>
	
  <!--  <ion-item *ngIf="orderStatus=='lost'">
	    <ion-label>Competitor 1</ion-label>
		<ion-select  [(ngModel)]="productform.compatitor1"  placeholder="Competitor 1" formControlName="compatitor1">
		  
		  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
		</ion-select>
	</ion-item>  -->


	<ion-input *ngIf="orderStatus=='lost'" placeholder="Competitor 1" type="text" (tap)="selectcompetitor_1()" readonly [(ngModel)]="competitorLabel_1" formControlName="compatitor1"  ></ion-input>
	
	
	 <!-- <ion-item *ngIf="orderStatus=='lost'">
	    <ion-label>Competitor 2</ion-label>
		<ion-select  [(ngModel)]="productform.compatitor2"  placeholder="Competitor 2" formControlName="compatitor2">
		  
		  <ion-option *ngFor="let copititor of copititorList" value="{{copititor.iCompetitorListId}}">{{copititor.vCompetitorName}}</ion-option>
		</ion-select>
	</ion-item> -->
	
	<ion-input *ngIf="orderStatus=='lost'" placeholder="Competitor 2" type="text" (tap)="selectcompetitor_2()" readonly [(ngModel)]="competitorLabel_2" formControlName="compatitor2"  ></ion-input>
	
	
	<ion-item *ngIf="orderStatus=='other'">
	    <ion-label>Other model</ion-label>
		<ion-select  [(ngModel)]="productform.othermodel"  placeholder="Other model" formControlName="othermodel">
		  
		   <ion-option *ngFor="let model of modelList" value="{{model.id}}">{{model.product_name}}</ion-option>
		</ion-select>
	</ion-item>

	
	<ion-item  *ngIf="productform.controls.othermodel.hasError('required') && productform.controls.othermodel.touched && orderStatus=='other'">
		<p class="errorfield">Other model is required!</p>
   </ion-item>
	

	<ion-input *ngIf="orderStatus"  type="file" placeholder="Photo" [(ngModel)]="productform.photo" formControlName="reason" style="display:none;"  ></ion-input>

    <ion-input  type="text" placeholder="Comment" [(ngModel)]="productform.comment" formControlName="comment"  ></ion-input>
	

		<ion-item >
			<ion-label>Lifting Date  </ion-label>
			<ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY"  min="{{crntdate}}"  max="{{maxdate}}" [(ngModel)]="productform.dLiftingDate" formControlName="dLiftingDate" ></ion-datetime>
		</ion-item>
		
	

	<!-- <ion-input  type="text" placeholder="photo" readonly (click)="photobrowse()"   ></ion-input> -->
	
	
	<button ion-button block color="yellow" class="btn" type="submit" >Save</button>

	 
	 </form>
 

 </ion-list>	
</ion-content>
