page-dvr {
.headerlogo{ width:105px; float:left;}
ion-title {padding: 0 90px 1px 10px !important;}
.scroll-content{ background:#23292e;}
ion-input{color:#ffffff; border-bottom:1px solid #455058;}
.btn{margin-top:15px;}
ion-select{ max-width:100%;border-bottom:1px solid #455058; color:#ccc;    width: 100%;}
ion-item{    padding: 0px !important;    background-color: transparent !important;border-bottom:0px !important; min-height:34px !important;}
ion-item .item-inner{border-bottom:0px !important;}
.backStrip{ padding-top:0px; border-bottom:0px;border-top:0px !important;}
.backStrip img {width:10px; float:left;}
.backStrip span { float:left; margin-left:10px; color:#455058;}
.backStrip .item-inner{border-bottom:0px !important;}
.backStrip .label{ margin-top:0px !important;}
.menuBtn{display:block !important;}
.alert-head{ padding:0px !important;}
.customerDtlBox{ border-bottom:3px solid #111; padding-top:20px; margin-top:0px; padding-bottom:10px;}
.select {padding-left:10px; font-size:14px;}
.customerDtlBox ion-item span{ float:left;color:#455058;}
.customerDtlBox ion-item p{ float:left; color:#fff; margin-left:15px; font-weight:normal; white-space:normal;  margin-top:3px; margin-left:2px;}
.label{    margin: 8px 8px 8px 0;}
.header:after{width:0px !important}
.leadnum{ float:left; font-size:14px;}

.listindex{ width:8%; float:left;color:#fff;}
.listcenter{width:77%; float:left;}

.listcenter .leaddate{width:100%; float:left;color:#455058; font-size:12px;}
.listcenter h2{width:100%; float:left;color:#455058; margin:8px 0px; font-size:14px; white-space:normal;}
.listcenter p{width:100%; float:left;color:#455058;}
.listend{ width:15%; float:left;color:#455058;}
.listend p{ margin-top:22px;}
.listend p span{ color:#455058; font-size:14px; float:right; line-height: 9px;}
.listend p ion-icon{ color:#455058; font-size:12px;float:right; margin-left:5px;}
.leadlistrow{ border-bottom:1px solid #455058 !important;}

}
