<!--
  Generated template for the DvrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>


<ion-content padding>

 <ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Manage Dvr</span> </ion-item>
	
	 <button ion-button block class="btn" (click)="Adddvr()" color="yellow" >START DVR</button>
	 
	 <ion-item *ngFor="let dvr of dvrlist; let i = index;"  class="leadlistrow" (click)="dvrdetail(dvr.iDvrId)">
      <div class="listindex">{{i+1}}</div>
	  <div class="listcenter">
	    <span class="leaddate">Created on: {{dvr.dCreatedDate}}</span> 
		
        <h2 style="color:#fff;">{{dvr.vKms}} km  Amount: {{dvr.vAmount}}</h2>
		
        <p><span class="statustxt">DVR STATUS : </span>{{dvr.eRunningStatus}}</p>
	  </div>
	  <div class="listend">
	    <p><ion-icon ios="ios-play" md="md-play"></ion-icon><span>view</span></p>
	 </div>
    </ion-item> 
	 
</ion-list>	 

</ion-content>
