<!--
  Generated template for the CustomerPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

 <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span> Add Customer</span>
     </ion-item>
   <form [formGroup]="customerform" (ngSubmit)="customerformSubmit()">
   
    <ion-input type="text" placeholder="Enter Comapny Name" [(ngModel)]="customerform.comapnyname" formControlName="comapnyname"  ></ion-input>
  
  <ion-item  *ngIf="customerform.controls.comapnyname.hasError('required') && customerform.controls.comapnyname.touched">
		<p class="errorfield">Comapny Name is required!</p>
   </ion-item>
   
    <ion-input type="text" placeholder="Contact Person"  [(ngModel)]="customerform.firstname" formControlName="firstname" ></ion-input>
	
	<ion-item  *ngIf="customerform.controls.firstname.hasError('required') && customerform.controls.firstname.touched">
		<p class="errorfield">Contact Person is required!</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="customerform.controls.firstname.hasError('pattern') && customerform.controls.firstname.touched">
		<p class="errorfield">Please enter correct Contact Person</p>
   </ion-item>
   
   <ion-input type="text" placeholder="Company Reference"  [(ngModel)]="customerform.comapnyref" formControlName="comapnyref" ></ion-input>
   
   
	<!-- <ion-input type="text" placeholder="Last Name" [(ngModel)]="customerform.lastname" formControlName="lastname" ></ion-input> -->
	
	 <!-- <ion-item  *ngIf="customerform.controls.lastname.hasError('required') && customerform.controls.lastname.touched"> -->
		<!-- <p class="errorfield">Last Name is required!</p> -->
   <!-- </ion-item> -->
   
   
	 <ion-item>
	    <ion-label>Company Type</ion-label>
		<ion-select  [(ngModel)]="customerform.comapnytype"  placeholder="Company Type" formControlName="comapnytype" >
		  
		  <ion-option *ngFor="let comapnytypes of comapnytypeList" value="{{comapnytypes.id}}">{{comapnytypes.status}}</ion-option>
		</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="customerform.controls.comapnytype.hasError('required') && customerform.controls.comapnytype.touched">
		<p class="errorfield">Company Type is required!</p>
   </ion-item>
   
   
	 <ion-item>
	       <ion-label>Company Status</ion-label>
			<ion-select  [(ngModel)]="customerform.comapnystatus"  placeholder="Company Status" formControlName="comapnystatus" >
			  
			  <ion-option *ngFor="let comapnystatus of comapnystatusList" value="{{comapnystatus.id}}">{{comapnystatus.status}}</ion-option>
			</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="customerform.controls.comapnystatus.hasError('required') && customerform.controls.comapnystatus.touched">
		<p class="errorfield">Company Status is required!</p>
   </ion-item>
   
	
	 <ion-item>
	 <ion-label>Industry Type</ion-label>
	<ion-select  [(ngModel)]="customerform.industrytype"  placeholder="Industry Type" formControlName="industrytype" >
      
      <ion-option *ngFor="let Industry of IndustryList" value="{{Industry.id}}">{{Industry.status}}</ion-option>
    </ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="customerform.controls.industrytype.hasError('required') && customerform.controls.industrytype.touched">
		<p class="errorfield">Industry Type is required!</p>
   </ion-item>
   
   
	<ion-input type="text" placeholder="Email"  [(ngModel)]="customerform.email" formControlName="email" ></ion-input>
	
	 <ion-item  *ngIf="customerform.controls.email.hasError('required') && customerform.controls.email.touched">
		<p class="errorfield">Email is required!</p>
	 </ion-item>
	 
	 <ion-item  *ngIf="customerform.controls.email.hasError('pattern') && customerform.controls.email.touched">
		<p class="errorfield">Please enter correct Email</p>
   </ion-item>
   
	<ion-input type="text" placeholder="Address"  [(ngModel)]="customerform.address" formControlName="address" ></ion-input>
	
	<ion-item  *ngIf="customerform.controls.address.hasError('required') && customerform.controls.address.touched">
		<p class="errorfield">Address is required!</p>
   </ion-item>
   
   
	 <ion-item>
	  <ion-label>Country</ion-label>
	<ion-select  [(ngModel)]="countrySlct"  placeholder="Country" formControlName="country" (ionChange) ="changecontry(countrySlct)">
      
	  <ion-option *ngFor="let country of countryList" value="{{country.id}}" >{{country.name}}</ion-option>
     
    </ion-select>
	</ion-item>
	
	<ion-item  *ngIf="customerform.controls.country.hasError('required') && customerform.controls.country.touched">
		<p class="errorfield">Country is required!</p>
   </ion-item>
	
	
	 <ion-input placeholder="State" type="text" (tap)="selectstate()" readonly [(ngModel)]="stateslct" formControlName="state"  ></ion-input>
	
	<ion-item  *ngIf="customerform.controls.state.hasError('required') && customerform.controls.state.touched">
		<p class="errorfield">State is required!</p>
   </ion-item>
   
	 <!--<ion-item>
	  <ion-label>State</ion-label>
	  
	<ion-select  [(ngModel)]="customerform.state"  placeholder="State" formControlName="state">
     
      <ion-option *ngFor="let states of stateList" value="{{states.id}}">{{states.StateName}}</ion-option>
    </ion-select>
	</ion-item> -->
	
	
	  
	  <ion-input type="text"  [(ngModel)]="customerform.city"  placeholder="City" formControlName="city" ></ion-input>
	  
	<ion-item  *ngIf="customerform.controls.city.hasError('required') && customerform.controls.city.touched">
		<p class="errorfield">City is required!</p>
   </ion-item>
	
	<ion-input type="text" *ngIf ='exportstatus'  [(ngModel)]="customerform.exportstate"  placeholder="Export State/Province" formControlName="exportstate" ></ion-input>
	
	<ion-input type="text" *ngIf ='exportstatus'  placeholder="Export City"  [(ngModel)]="customerform.exportcity" formControlName="exportcity" ></ion-input>
	
	<ion-input type="number" placeholder="Postal Code"   [(ngModel)]="customerform.postalcode" formControlName="postalcode" ></ion-input>
	
	<ion-input type="number" placeholder="Primary Phone"  [(ngModel)]="customerform.primaryphone" formControlName="primaryphone" ></ion-input>
	
	<ion-item  *ngIf="customerform.controls.primaryphone.hasError('required') && customerform.controls.primaryphone.touched">
		<p class="errorfield">Primary Phone is required!</p>
   </ion-item>
	
	<ion-input type="number" placeholder="Secondary Phone"  [(ngModel)]="customerform.secondaryphone" formControlName="secondaryphone" ></ion-input>
	
	<ion-input type="text" [(ngModel)]="customerform.website" autocapitalize="none" formControlName="website"  placeholder="Website" ></ion-input>
	
 
     <button ion-button block color="yellow" class="btn"type="submit"  >Save</button>
	 
	 </form>
</ion-list>



</ion-content>
