<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Leads</span>
     </ion-item>
	 
     <ion-item *ngFor="let lead of leadlist; let i = index;"  class="leadlistrow" (click)="leaddetail(lead.iLeadId)">
      <div class="listindex">{{i+1}}</div>
	  <div class="listcenter">
	    <span class="leadnum">{{lead.leadNumber}}</span> 
		<span class="leaddate">{{lead.dCreatedDate}}</span>
        <h2 style="color:#fff;">{{lead.company}}</h2>
        <p></p>
	  </div>
	  <div class="listend">
	    <p><ion-icon ios="ios-play" md="md-play"></ion-icon><span>view</span></p>
	 </div>
    </ion-item>
  </ion-list>
 
</ion-content>
