<ion-header>
  <ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>

<ion-content padding color="gray">
 <ion-grid>
  <ion-row align-items-start>
    <ion-col  class="homeColom1" (tap)="newlead()">
     <img src="assets/img/register.png" >
	 <p>New Lead</p>
    </ion-col>
    <ion-col  class="homeColom" (tap)="leadlist()">
       <img src="assets/img/list.png" >
	 <p>Leads</p>
    </ion-col>
    
  </ion-row>

  <ion-row align-items-center>
   <ion-col  class="homeColom" (tap)="addCustomer()">
     <img src="assets/img/profile.png" >
	 <p>Add Customer</p>
    </ion-col>
    <ion-col  class="homeColom1" (tap)="product()">
       <img src="assets/img/order.png" >
	 <p>Product Orders</p>
    </ion-col>
    
  </ion-row>

  <ion-row align-items-end>
  <ion-col  class="homeColom1" (tap)="help()" >
     <img src="assets/img/location.png" >
	 <p>Manage DVR</p>
    </ion-col>
    <ion-col  class="homeColom" (tap)="branch()">
       <img src="assets/img/branch_office.png"  >
	 <p>Branch Office</p>
    </ion-col>
    
  </ion-row>
</ion-grid>

</ion-content>
