page-home {


 .homeColom{ height:33%;padding:50px 50px 45px 50px; background:#23292e; text-align:center; color:#fff;}
 .homeColom1{ height:33%;padding:50px 50px 45px 50px; background:#455058; text-align:center; color:#fff;}
 .homeColom1 img{ width:40px;background-size:100% 100%;}
 .homeColom img{ width:40px;background-size:100% 100%;}
 .homeColom p{ min-height:36px; font-size:14px;line-height:16px;    margin-top: 15px;    margin-bottom: 15px;}
 .homeColom1 p{ min-height:36px; font-size:14px; line-height:16px;     margin-top: 15px;    margin-bottom: 15px;} 
.scroll-content{ padding:0px !important;}
.grid{ padding:0px;}
.headerlogo{ width:105px; float:left;}
ion-title {padding: 0 90px 1px 10px !important;}

.header:after{width:0px !important}




}
