<!--
  Generated template for the DvrdetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-list>
<ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Dvr Detail</span>
     </ion-item>
	 
	
	   <button ion-button block class="btn pinbtn" *ngIf="dvrObj.eRunningStatus=='Start'" (tap)="pinlocation()" color="yellow" >Pin this Location</button>
	
	   <button ion-button block class="btn" *ngIf="dvrObj.eRunningStatus=='Start'" (tap)="enddvr()" color="yellow" >End DVR</button>
	
	

	<ion-input *ngIf="dvrpinstatus" [(ngModel)]="customerlocation" type="text" placeholder="Customer Location" ></ion-input> 
	
	
	<ion-item *ngIf="dvrpinstatus">
	    <ion-label>Visit Type </ion-label>
		<ion-select   placeholder="Visit Type " [(ngModel)]="visittype"  >
		  
		 <ion-option *ngFor="let visitType of visitTypeList" value="{{visitType.id}}">{{visitType.status}}</ion-option> 
		</ion-select>
	</ion-item>

	
	<ion-input *ngIf="dvrpinstatus" [(ngModel)]="purpose" type="text" placeholder="Purpose" ></ion-input>
	
  <button *ngIf="dvrpinstatus" ion-button block class="btn" (click)="addmorecustomerloc()" color="yellow" >Save</button>
	 
	<div class="customerDtlBox">
	  <ion-item><span>Created Date: </span><p>{{dvrObj.dCreatedDate}}</p> </ion-item>
	  <ion-item><span>Dvr Status: </span><p>{{dvrObj.eRunningStatus}}</p> </ion-item>
	 
	  <ion-item><span>TransportType: </span><p>{{dvrObj.iTransportType}}</p> </ion-item>
	  <ion-item><span>Fuel Type: </span><p>{{dvrObj.iFuelType}}</p> </ion-item>
	  <ion-item><span>Food Allowance: </span><p>{{dvrObj.vFoodAllowance}}</p> </ion-item>
	  <ion-item><span>distance: </span><p>{{dvrObj.vKms}} km</p> </ion-item>
	   <ion-item><span>Amount: </span><p>{{dvrObj.vAmount}} </p> </ion-item>
	   <ion-item><span>Payment Status: </span><p>{{dvrObj.ePaymentStatus}} </p> </ion-item> 
	   
	 </div>
	 
	  <ion-item *ngFor="let location of locationlist; let i = index;"  class="leadlistrow" (click)="dvrdetail(location)" >
      <div class="listindex">{{i+1}}</div>
	  <div class="listcenter">
	     <span >{{location.dCreatedDate}}</span>
		 <span >{{location.vCustomerLocation}}</span> 
		  <p>{{location.company}}</p>
         <p >{{location.vPurpose}}</p>
		 <p>{{location.iVisitTypeName}}</p>
	 </div>
	   <div class="listend">
	    <p><ion-icon ios="ios-play" md="md-play"></ion-icon><span>edit</span></p>
	 </div>
    </ion-item>
	
	
  </ion-list>
</ion-content>

