<ion-header >
   <button  style="float:left; width:10%;"  ion-button clear  left class="menuBtn" (click)="back()">
      <ion-icon name="arrow-back" style="margin-top:11px;" color="dark"></ion-icon>
    </button>
 <ion-title>End Dvr</ion-title>


</ion-header>

<ion-content padding >
   
   
    <ion-list>
  
	 <ion-item>
		  <ion-label>Vehicle Type</ion-label>
		<ion-select  [(ngModel)]="enddvrform.vehicletype"  placeholder="Vehicle Type"  >
		  
		  <ion-option *ngFor="let transport of transportlists" value="{{transport.id}}" >{{transport.status}}</ion-option>
		 
		</ion-select>
	</ion-item>
	
	 <ion-item  *ngIf="enddvrform.vehicletype==91">
		  <ion-label>Fuel Type</ion-label>
		<ion-select  [(ngModel)]="enddvrform.fuieltype"  placeholder="Fuel Type" >
		  
		  <ion-option *ngFor="let fuiel of fuiellist" value="{{fuiel.id}}" >{{fuiel.status}}</ion-option>
		 
		</ion-select>
	</ion-item>
	
	 <ion-input type="number" *ngIf="enddvrform.vehicletype==92" placeholder="Amount"  [(ngModel)]="enddvrform.priceltr" ></ion-input> 

	 <ion-input type="number" placeholder="Food Allowance"  [(ngModel)]="enddvrform.foodAllowance"  ></ion-input>
	
	 <button ion-button block color="yellow" class="btn" (click)="enddvrsubmit()" >Save</button>
	
   </ion-list>
</ion-content>