<!--
  Generated template for the AdddvrPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Add Dvr</span> </ion-item>
	
   <button ion-button block class="btn" (click)="startdvr()" color="yellow" >Start DVR</button>
  
  
	
	 
	
</ion-content>
