<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar color="gray" hideBackButton="true">
    <button ion-button menuToggle right class="menuBtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img src="assets/img/logo.png" class="headerlogo" /></ion-title>
	
  </ion-navbar>
</ion-header>


<ion-content padding>

<ion-list>
    <ion-item class="backStrip" (tap)="back()"> <img src="assets/img/back_arrow.png" /> <span>Product Order</span>
     </ion-item>
	 
	  <ion-item *ngFor="let pedct of pedctlist; let i = index;"  class="leadlistrow" (click)="prdctdetail(pedct.id)">
      <div class="listindex">{{i+1}}</div>
	  <div class="listcenter">
	    <span class="leadnum">{{pedct.leadNumber}}</span> 
		<span class="leaddate">{{pedct.created_date}}</span>
        <h2 style="color:#fff;">{{pedct.company}}</h2>
        <p><span class="statustxt">STATUS : </span>{{pedct.order_status}}</p>
	  </div>
	  <div class="listend">
	    <p><ion-icon ios="ios-play" md="md-play"></ion-icon><span>view</span></p>
	 </div>
    </ion-item>
	 
</ion-list>	 
	 

</ion-content>
