machinemodal {
.content-ios {
    color: #000;
    background-color: #fff;
}


.searchbar-ios{ background:#fff; margin-top:5px; border:1px solid #ddd;}
.header-ios{ padding-top:20px;border:1px solid #ddd; padding-bottom:5px;}
}
