// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.menu-inner .scroll-content{background:#23292e;}

.menu-inner .list .item-block .item-inner{ border-bottom:1px solid #455058;    padding-top: 5px;
    padding-bottom: 5px;}
	
	
	.toolbar-ios {
  height: 50px + $cordova-ios-statusbar-padding;
  padding-top: $cordova-ios-statusbar-padding;
  padding-bottom:10px;
}

.toolbar-title-ios {
  padding-top: 15px;
}

.toolbar-title-ios .headerlogo{ width:90px;}
.content-ios{background: #23292e;}
.select-ios{ padding-left:2px !important;}
.segment-ios .segment-button.segment-activated{background-color: #faa61a !important;color:#fff !important; }
.segment-ios .segment-button{border-color: #faa61a !important; color:#faa61a !important;}
.list-ios > .item-block:first-child{ border-top:0px;}


.item-datetime .label-ios{  color: #aaa;    font-size: 14px;}
.datetime-text{color:#fff;}